@import 'custom-theme.scss';
button {
    cursor: pointer;
    border-radius: 50%;
    border-width: 0;
    background: #f9f9f9;
    padding: 0;
    mat-icon {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        color: $accent;
    }
}
