<div id="contenedor">
  <div id="informacion" [ngClass]="{informacioFlotante: flotando}">
    <h3>Disponibilidad Semanal</h3>
    <div fxLayout fxLayout.xs="column" id="indicaciones">
      <h5 fxFlex="40%" fxFlex.xs="100%">
        Estimado profesor presione los <b>dias</b> y <b>horas</b>
      </h5>
      <h4 fxFlex="60%" fxFlex.xs="100%" class="txright">
        Minimo de Horas <b>{{ profesor.categoria.horas_minimas }}</b> | Maximo de Horas
        <b>{{ profesor.categoria.horas_maximas }}</b> | Horas Tomadas
        <b>{{ horas }}</b>
      </h4>
    </div>
  </div>
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="horaRango" sticky>
        <th mat-header-cell *matHeaderCellDef>Hora/ Dia</th>
        <td mat-cell *matCellDef="let element">
          {{ element.horaRango }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lunes">
        <th mat-header-cell *matHeaderCellDef>
          <p>Lunes</p>
        </th>
        <td
          mat-cell
          [ngClass]="{
            marcado: this.dataSource.data[i]['lunes'],
            bloqueado:
              !this.dataSource.data[i]['lunes'] && this.horas >= this.profesor.horas_maximas
          }"
          *matCellDef="let element; let i = index"
          (mouseover)="actualizarDisponibilidad(i, 'lunes')"
        ></td>
      </ng-container>

      <ng-container matColumnDef="martes">
        <th mat-header-cell *matHeaderCellDef>
          <p>Martes</p>
        </th>
        <td
          mat-cell
          [ngClass]="{
            marcado: this.dataSource.data[i]['martes'],
            bloqueado:
              !this.dataSource.data[i]['martes'] && this.horas >= this.profesor.horas_maximas
          }"
          *matCellDef="let element; let i = index"
          (mouseover)="actualizarDisponibilidad(i, 'martes')"
        ></td>
      </ng-container>

      <ng-container matColumnDef="miercoles">
        <th mat-header-cell *matHeaderCellDef>
          <p>Miercoles</p>
        </th>
        <td
          mat-cell
          [ngClass]="{
            marcado: this.dataSource.data[i]['miercoles'],
            bloqueado:
              !this.dataSource.data[i]['miercoles'] && this.horas >= this.profesor.horas_maximas
          }"
          *matCellDef="let element; let i = index"
          (mouseover)="actualizarDisponibilidad(i, 'miercoles')"
        ></td>
      </ng-container>
      <ng-container matColumnDef="jueves">
        <th mat-header-cell *matHeaderCellDef>
          <p>Jueves</p>
        </th>
        <td
          mat-cell
          [ngClass]="{
            marcado: this.dataSource.data[i]['jueves'],
            bloqueado:
              !this.dataSource.data[i]['jueves'] && this.horas >= this.profesor.horas_maximas
          }"
          *matCellDef="let element; let i = index"
          (mouseover)="actualizarDisponibilidad(i, 'jueves')"
        ></td>
      </ng-container>
      <ng-container matColumnDef="viernes">
        <th mat-header-cell *matHeaderCellDef>
          <p>Viernes</p>
        </th>
        <td
          mat-cell
          [ngClass]="{
            marcado: this.dataSource.data[i]['viernes'],
            bloqueado:
              !this.dataSource.data[i]['viernes'] && this.horas >= this.profesor.horas_maximas
          }"
          *matCellDef="let element; let i = index"
          (mouseover)="actualizarDisponibilidad(i, 'viernes')"
        ></td>
      </ng-container>
      <ng-container matColumnDef="sabado">
        <th mat-header-cell *matHeaderCellDef>
          <p>Sabado</p>
        </th>
        <td
          mat-cell
          [ngClass]="{
            marcado: this.dataSource.data[i]['sabado'],
            bloqueado:
              !this.dataSource.data[i]['sabado'] && this.horas >= this.profesor.horas_maximas
          }"
          *matCellDef="let element; let i = index"
          (mouseover)="actualizarDisponibilidad(i, 'sabado')"
        ></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div id="footer">
    <button
      mat-button
      [disabled]="
        diasNoSeleccionados ||
        profesor.cursos.length < 4 ||
        profesor.permiso === estado.PROCESANDO_SOLICITUD ||
        profesor.permiso === estado.RECHAZADO
      "
      color="accent"
      (click)="openDialog()"
    >
      <span [ngSwitch]="profesor.permiso">
        <p *ngSwitchCase="estado.EDITAR">
          Actualizar Horario
        </p>
        <p *ngSwitchCase="estado.SOLICITAR">
          Solicitar Permisos de Edición
        </p>
        <p *ngSwitchCase="estado.PROCESANDO_SOLICITUD">
          Solicitud en proceso de evaluación
        </p>
        <p *ngSwitchCase="estado.RECHAZADO">
          Solicitud Rechazada
        </p>
        <p *ngSwitchDefault>
          Registrar
        </p>
      </span>
    </button>
  </div>
</div>

<ng-container *ngIf="abriendoPopUp">
  <app-solicitar-permisos-edicion
    *ngIf="profesor.permiso === estado.SOLICITAR"
    [id]="profesor.id"
  ></app-solicitar-permisos-edicion>
  <app-registrar-disponibilidad
    *ngIf="profesor.permiso === estado.REGISTRAR || profesor.permiso === estado.EDITAR"
    [profesor]="profesor"
    [data]="dataSource.data"
  ></app-registrar-disponibilidad>
</ng-container>
