@import 'custom-theme.scss';
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0;
}

h4.txright {
  padding-right: 10px;
  > b {
    color: $accent;
  }
}
#indicaciones {
  margin: 15px 0;
}

#contenedor {
  background: white;
  padding: 20px;
}

.example-container {
  height: 400px;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  min-width: 500px;
}

th.mat-header-cell:not(.mat-column-horaRango) {
  padding-bottom: 10px;
  text-align: center;
}

td.mat-cell:not(.mat-column-horaRango) {
  text-align: center;
}

th.mat-column-horaRango,
td.mat-column-horaRango {
  width: 100px;
}

th.mat-column-horaRango,
td.mat-column-horaRango,
th.mat-column-lunes,
td.mat-column-lunes {
  padding-left: 8px !important;
}

th.mat-column-sabado,
td.mat-column-sabado {
  padding-right: 8px !important;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

div#footer {
  text-align: right;
  margin-top: 20px;
}
