<div id="contenedor">
  <div id="informacion">
    <h3>Disponibilidad Semanal</h3>
    <div fxLayout fxLayout.xs="column" id="indicaciones">
      <h5 fxFlex="50%" fxFlex.xs="100%">
        Estimado profesor presione los <b>dias</b> y <b>horas</b>
      </h5>
      <h4 fxFlex="50%" fxFlex.xs="100%" class="txright">
        Minimo de Horas <b>{{ minimo }}</b> | Maximo de Horas <b>{{ maximo }}</b> | Horas Tomadas
        <b>{{ horas }}</b>
      </h4>
    </div>
  </div>
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" *ngIf="estadoDisponibilidad">
      <ng-container matColumnDef="horaRango" sticky>
        <th mat-header-cell *matHeaderCellDef>Hora/ Dia</th>
        <td mat-cell *matCellDef="let element">
          {{ element.horaRango }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lunes">
        <th mat-header-cell *matHeaderCellDef>
          <p>Lunes</p>
          <mat-checkbox
            (change)="$event ? masterToggle('lunes') : null"
            [checked]="isAllSelected('lunes')"
            [indeterminate]="tieneElementosSeleccionados('lunes') && !isAllSelected('lunes')"
            [disabled]="desactivarHeader('lunes')"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? actualizarDisponibilidad('lunes', i) : null"
            [checked]="element.lunes"
            [disabled]="desactivarCelda(element, 'lunes')"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="martes">
        <th mat-header-cell *matHeaderCellDef>
          <p>Martes</p>
          <mat-checkbox
            (change)="$event ? masterToggle('martes') : null"
            [checked]="isAllSelected('martes')"
            [indeterminate]="tieneElementosSeleccionados('martes') && !isAllSelected('martes')"
            [disabled]="desactivarHeader('martes')"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? actualizarDisponibilidad('martes', i) : null"
            [checked]="element.martes"
            [disabled]="desactivarCelda(element, 'martes')"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="miercoles">
        <th mat-header-cell *matHeaderCellDef>
          <p>Miercoles</p>
          <mat-checkbox
            (change)="$event ? masterToggle('miercoles') : null"
            [checked]="isAllSelected('miercoles')"
            [indeterminate]="
              tieneElementosSeleccionados('miercoles') && !isAllSelected('miercoles')
            "
            [disabled]="desactivarHeader('miercoles')"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? actualizarDisponibilidad('miercoles', i) : null"
            [checked]="element.miercoles"
            [disabled]="desactivarCelda(element, 'miercoles')"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="jueves">
        <th mat-header-cell *matHeaderCellDef>
          <p>Jueves</p>
          <mat-checkbox
            (change)="$event ? masterToggle('jueves') : null"
            [checked]="isAllSelected('jueves')"
            [indeterminate]="tieneElementosSeleccionados('jueves') && !isAllSelected('jueves')"
            [disabled]="desactivarHeader('jueves')"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? actualizarDisponibilidad('jueves', i) : null"
            [checked]="element.jueves"
            [disabled]="desactivarCelda(element, 'jueves')"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="viernes">
        <th mat-header-cell *matHeaderCellDef>
          <p>Viernes</p>
          <mat-checkbox
            (change)="$event ? masterToggle('viernes') : null"
            [checked]="isAllSelected('viernes')"
            [indeterminate]="tieneElementosSeleccionados('viernes') && !isAllSelected('viernes')"
            [disabled]="desactivarHeader('viernes')"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? actualizarDisponibilidad('viernes', i) : null"
            [checked]="element.viernes"
            [disabled]="desactivarCelda(element, 'viernes')"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="sabado">
        <th mat-header-cell *matHeaderCellDef>
          <p>Sabado</p>
          <mat-checkbox
            (change)="$event ? masterToggle('sabado') : null"
            [checked]="isAllSelected('sabado')"
            [indeterminate]="tieneElementosSeleccionados('sabado') && !isAllSelected('sabado')"
            [disabled]="desactivarHeader('sabado')"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? actualizarDisponibilidad('sabado', i) : null"
            [checked]="element.sabado"
            [disabled]="desactivarCelda(element, 'sabado')"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div id="footer" *ngIf="estadoDisponibilidad">
    <button
     mat-button
      [disabled]="diasNoSeleccionados || cursosSeleccionados.length < 4"
      color="accent"
      (click)="openDialog()"
    >
      <span [ngSwitch]="estadoDisponibilidad">
        <p *ngSwitchCase="estado.EDITAR">
          Actualizar Horario
        </p>
        <p *ngSwitchCase="estado.SOLICITAR">
          Solicitar Permisos de Edición
        </p>
        <p *ngSwitchDefault>
          Registrar
        </p>
      </span>
    </button>
  </div>
</div>

<ng-container *ngIf="abriendoPopUp">
  <app-solicitar-permisos-edicion
    *ngIf="estadoDisponibilidad === estado.SOLICITAR"
    [id]="id"
  ></app-solicitar-permisos-edicion>
  <app-registrar-disponibilidad
    *ngIf="estadoDisponibilidad !== estado.SOLICITAR"
    [id]="id"
    [data]="dataSource.data"
    [displayedColumns]="displayedColumns"
    [estadoDisponibilidad]="estadoDisponibilidad"
  ></app-registrar-disponibilidad>
</ng-container>
