<app-mat-table
  [data]="data"
  [buttonsExt]="buttonsExt"
  [buttons]="buttons"
  [displayedColumns]="displayedColumns"
  (clickExterno)="filtros($event)"
  (clickInterno)="operaciones($event)"
>
  <mat-chip-list>
    <ng-container *ngFor="let row of cursos.data">
      <mat-chip
        *ngIf="row.seleccionado"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(true, row)"
        color="accent"
        selected
      >
        {{ row.nombre }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </ng-container>
    <ng-container *ngFor="let row of tipos.data">
      <mat-chip
        [selectable]="true"
        [removable]="true"
        (removed)="remove(false, row)"
        color="primary"
        selected
      >
        {{ row.nombre }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </ng-container>
  </mat-chip-list>
</app-mat-table>

<ng-template #cursosVista>
  <mat-tab-group>
    <mat-tab label="Ingenieria de Software">
      <div
        *ngFor="let curso of mostrarCursosSoftware(); let i = index"
      >
        <mat-checkbox [checked]="curso.seleccionado" (change)="$event ? actualizar(true, i) : null">
          {{ curso.nombre }}
        </mat-checkbox>
      </div>
    </mat-tab>
    <mat-tab label="Ingenieria de Sistemas">
      <div
        *ngFor="let curso of mostrarCursosSistema(); let i = index"
      >
        <mat-checkbox [checked]="curso.seleccionado" (change)="$event ? actualizar(true, i) : null">
          {{ curso.nombre }}
        </mat-checkbox>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<ng-template #tiposVista>
  <div *ngFor="let tipo of tiposEnModal.data; let i = index">
    <mat-checkbox [checked]="tipo.seleccionado" (change)="$event ? actualizar(false, i) : null">
      {{ tipo.nombre }}
    </mat-checkbox>
  </div>
</ng-template>

<app-registrar-disponibilidad
  *ngIf="abriendoPopUp"
  [profesorVista]="false"
  [profesor]="profesor"
></app-registrar-disponibilidad>
