app-mat-table {
  display: block;
  padding: 20px;
}

table {
  width: 100%;
}

mat-chip-list {
  display: block;
  margin-bottom: 20px;
}

mat-tab-group::ng-deep .mat-tab-body {
  margin: 20px 0 0;
  min-height: 60px;
}
