#titulos {
    display: flex;
    width: 100%;
    div {
        width: 50%
    }
}

mat-card::ng-deep {
    .mat-card-header-text {
        width: 100%;
    }
}

mat-form-field {
    width: calc(50% - 10px);
    padding-right: 10px;
}