@import '../../../custom-theme.scss';
#layout {
    padding: 10px 0;
    border-bottom: 5px $accent solid;
  }
  
  .txcenter mat-icon {
    height: 70px;
    width: 70px;
    font-size: 70px;
  }
  
  button {
    top: 25px;
    mat-icon {
      height: 30px;
      width: 30px;
      font-size: 30px;
    }
  }
  
  .titulos {
    padding-left: 30px;
    > * {
      margin: 0;
      font-weight: 500;
    }
  }