<mat-card *ngIf="perfil">
  <div id="contenedor" fxLayout>
    <img fxFlex="30%" fxHide.xs="true" id="portada" src="../../../../assets/img/fondo.jpg" />

    <img fxFlex="10%" fxFlex.xs="20%" id="perfil" src="../../../../assets/img/logo.png" />

    <div fxFlex="50%" fxFlex.xs="80%" id="info">
      <h3>{{ perfil.user.name }} </h3>
      <p>Correo Electrónico: {{ perfil.user.email }}</p>
      <p>Categoria: {{ perfil.category_name }}</p>
      <p>Horas: {{ horas }}</p>
    </div>
  </div>
</mat-card>
