@import '../../../../../custom-theme.scss';
td.mat-cell:last-child,
td.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
  padding-left: 24px !important;
}

app-comprimed-buttons ::ng-deep {
  .mat-mini-fab:not([class*='mat-elevation-z']) {
    box-shadow: 0px 0px 0px 0px !important;
  }

  .mat-fab:not([class*='mat-elevation-z']) {
    box-shadow: 0px 0px 0px 0px !important;
  }
}

td.mat-cell:first-child,
td.mat-footer-cell:first-child,
th.mat-header-cell:first-child {
  padding-left: 10px;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 5px 10px;
}

table {
  width: 100%;
}

.table-container {
  position: relative;
  overflow: auto;
}

div {
  border-radius: 6px;
}

.table-header {
  min-height: 64px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.editar {
  cursor: pointer;
  color: $primary !important;
}

.w70 {
  width: 70px;
}

#botones_superiores {
  app-group-buttons {
    display: block;
    margin: -5px 0 5px 10px;
    ::ng-deep .button-row {
      justify-content: left;
    }
  }
}
