app-informacion-perfil,
app-seleccionar-curso {
  background-color: white;
   display: block;
  padding: 20px;
}

@media all and (max-width: 576px) {
  app-informacion-perfil {
    width: calc(100% - 40px);
  }
  app-seleccionar-curso {
    width: auto;
  }
  div.fondo > div {
    display: grid;
  }
}
