<app-toolbar></app-toolbar>
<div class="fondo" *ngIf="profesorDetalle">
  <app-informacion-perfil [perfil]="profesorDetalle"></app-informacion-perfil>
  <app-seleccionar-curso
    [cursosEscogidos]="profesorDetalle.cursos"
  ></app-seleccionar-curso>
  <app-disponibilidad-semanal
    [minimo]="profesorDetalle.horas_minimas"
    [maximo]="profesorDetalle.horas_maximas"
    [id]="profesorDetalle.IDPROFESOR"
    [cursosSeleccionados]="profesorDetalle.cursos"
  ></app-disponibilidad-semanal>
</div>
