<h1 mat-dialog-title class="txcenter">{{ data.titulo }}</h1>
<div mat-dialog-content>
  <p>{{ data.mensaje }}</p>
  <ng-container *ngIf="data.template">
    <ng-container *ngTemplateOutlet="
         data.template.element
          context: data.template.data
        ">
    </ng-container>
  </ng-container>


</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    color="accent"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Si
  </button>
  <button mat-raised-button color="warn" [mat-dialog-close]="false">No</button>
</div>

