@import 'custom-theme.scss';

.mat-dialog-title {
  color: $primary;
  display: flex;
}

h3 {
  width: calc(100% - 40px);
  margin: 0;
  padding-left: 20px;
}

button#exit {
  display: block;
  text-align: right;
  margin-left: auto;
}
